extends layout

block content
    h3 Answer some questions lil bro

    table(class='myTable' id="Table")
        tr 
            //This here, For each question in questions, show the question
            //but for each answer in the questions answers, create a radio
            //button of the answer option, with the answer, and show the answer
            form(action='/submitAnswers/', method='post')
                each question in questions
                    h2= question.question
                    ul
                        each answer in question.answers
                                label
                                input(type='radio', name='answerOption', value=answer, onchange=`handleAnswer('${answer}')`)
                                | #{answer}
            input(type='button' value='Submit' )