extends layout

block content
    h3 log in

    form(id="login" action="/login" onsubmit="return validate()" method="post")
        p Email: 
            input(id="email" name="email" type="text")
        p Password: 
            input(id="password" name="password" type="password")
        p 
            input(type="submit" value="Log In")
        p.hide(id="reply") Invalid email/username or password.
        p 
        a(href="signup") New? Sign up!
    
    script(src="login.js")