extends layout

block content

    h3 Sign Up 
    form(id="signup" action="/signup" onsubmit="return validate()" method="post")
        p Age: 
            input(id="age" name="age" type="text")
            div.hide(id="ageReply") Please enter an integer.
        p Email: 
            input(id="email" name="email" type="text")
            div.hide(id="emailReply") Please enter a valid email address.
        p Username: 
            input(id="username" name="username" type="text")
            div.hide(id="usernameAlreadyExistsReply") Username already exists.
            div.hide(id="usernameRegexReply") Please enter at least 5 characters, A-Z, 0-9, hyphens, and underscores only.
        p Password: 
            input(id="password" name="password" type="password")
            div.hide(id="passwordReply") Please enter at least 8 characters, with one uppercase, one digit, and one special character.
        p Confirm password: 
            input(id="passwordConfirm" name="passwordConfirm" type="password")
            div.hide(id="passwordConfirmReply") Please match above password.
        p 
            input(type="submit" value="Sign Up")
        p.hide(id="reply") Please fix form above to specified requirements.
    
    script(src="signup.js")