extends layout

block content
    h3 create account page


//- <!DOCTYPE html>
//- <html lang="en">
//- <head>
//-     <meta charset="UTF-8">
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0">
//-     <link rel="stylesheet" href="styles.css">
//-     <div style="background-color: gray;">
//-         <input>
//-         <img src="pfp.png" style="width: 20px; "/>
//-     </div>
//- </head>
//- <body>
//-     <form action="home.html" onsubmit="return validate()" method="post">
//-         <p>Email:</p>
//-         <input id="email" onblur="validateEmailInput()">
//-         <div class="hide" id="emailReply">Please enter a valid email address.</div>
//-         <p>Username:</p>
//-         <input id="username" onblur="validateUsernameInput()">
//-         <div class="hide" id="usernameAlreadyExistsReply">Username already exists.</div>
//-         <div class="hide" id="usernameRegexReply">Please enter at least 5 characters, A-Z, 0-9, hyphens, and underscores only.</div>
//-         <p>Password:</p>
//-         <input type='password' id="password" onblur="validatePasswordInput()">
//-         <div class="hide" id="passwordReply">Please enter at least 8 characters, with one uppercase, one digit, and one special character.</div>
//-         <p>Confirm password:</p>
//-         <input type='password' id="passwordConfirm" onblur="validatePasswordConfirmInput()">
//-         <div class="hide" id="passwordConfirmReply">Please match above password.</div>
//-         <div>
//-             <input type="submit" value="Sign Up">
//-         </div>
//-         <p class="hide" id="reply">Please fix form above to specified requirements.</p>
//-     </form>
//- </body>
//- <script src="signup.js"></script>
//- </html>